/* Universal Border Box sizing from the CSS in depth book page 61

If you're using third parties you can use the more comprehensive fix which is::after

:root {
    box-sizing: border-box;
}

*,
::before,
::after {
    box-sizing: inherit;
} */

:root {
    --unfoundColor: lightgrey;
    --foundColor: yellow;
    --locatedColor: green;
    --discardedColor: grey;
    --backgroundColor: #240066;
    --textColor: #FBFCFF;
    --goldHighlight: #ffd700;
}

body {
    background-color: var(--backgroundColor);
    color: var(--textColor);
    font-family: 'Ubuntu Mono', monospace;
}

*,
::before,
::after {
    box-sizing: border-box;
}

#container {
    display: grid;
    max-width: 500px;
    margin: 0 auto;
    height: 100vh;
    grid-template-columns: 20px 1fr 20px;
    grid-template-rows: 0.1fr repeat(7, 0.7fr) 2fr;
}

/* #row-reveal .square {
    border: 1px solid gold;
} */
header > h1 {
    font-family: 'Comfortaa', cursive;
    font-size: 1.3em;
}

.revealSquare {
    height: 2em;
    width: 2em;
    border: 1px solid var(--goldHighlight);
    background-color: var(--backgroundColor);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.8em;
}

.square {
    height: 2em;
    width: 2em;
    border: 1px solid var(--discardedColor);
    background-color: var(--backgroundColor);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.8em;
}

#container > div:not(:last-child) {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

header {
    grid-column: 1 / 4;
    grid-row: 1 / 2;
    margin: 0 10px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

header > h1 {
    font-size: 1.2em;
}

#row-reveal {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}


#row-guess-1 {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
}

#row-guess-2 {
    grid-column: 2 / 3;
    grid-row: 4 / 5;
}

#row-guess-3 {
    grid-column: 2 / 3;
    grid-row: 5 / 6;
}

#row-guess-4 {
    grid-column: 2 / 3;
    grid-row: 6 / 7;
}

#row-guess-5 {
    grid-column: 2 / 3;
    grid-row: 7 / 8;
}

#keyboard {
    height: 10.5em;
    max-width: 100%;
    grid-column: 1 / 4;
    grid-row: 9 / 10;
    justify-self: center;
    
}

.keyboardRow {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
    touch-action: manipulation;
}

.keyboardRow > button:last-child {
    margin: 0 0 0 0;
}

.keyboardButton {
    border: 1px solid black;
    font-family: 'Ubuntu Mono', monospace;
    font-size: 1.2em;
    font-weight: bold;
    text-align: center;
    flex: 1 1 0px;
    height: 50px;
    margin: 0 6px 0 0;
    background-color: var(--unfoundColor);
    color: black;
    cursor: pointer;
    min-width: 40px;
    max-width: 40px;
    border-radius: 4px;
}

@media only screen and (max-width: 500px) {
    .keyboardButton {
        min-width: 30px;
        max-width: 30px;
    }
}

#row-2 {
    justify-content: center;
}

#Backspace, #Enter {
    min-width: none;
    max-width: none;
    font-size: 0.6em;
    flex: 2 1 0px;
}

#row-2 {
    margin: 2px 0;
}

#lifelinesDiv {
    grid-column: 2 / 3;
    grid-row: 8 / 9;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#lifelines {
    border: 2px solid var(--goldHighlight);
    border-radius: 5px;
    padding: 4px 6px;
    flex-basis: 40%;
    text-align: center;
    font-family: 'Sigmar One', cursive;
}

#lifelinesDialog > button {
    font-size: 1.2em;
    padding: 0.3em;
    font-family: 'Ubuntu Mono', monospace;
    /* width: 45%; */
    
}

#lifelinesDialog > button:not(:last-child) {
    border: 2px solid var(--goldHighlight);
    background-color: #FF9E00;
}

#lifelinesDialog > button:last-child {
    border: none;
    background-color: #FF9100;
}

#lifelinesDialog:modal {
    display: flex;
    font-family: 'Ubuntu Mono', monospace;
    font-size: 1.4em;
    background-color: #FF7900;
    border-radius: 5px;
    border: none;
    flex-direction: column;
    justify-content: space-around;
    row-gap: 10px;
    /* column-gap: 20px; */
}

dialog {
    background-color: #FF6D00;
    color: white;
    font-size: 1.5em;
    font-family: 'Ubuntu Mono', monospace;
    border-radius: 5px;
    text-align: center;
}

dialog > button {
    font-size: 0.9em;
    padding: 10px;
    font-family: 'Ubuntu Mono', monospace;
    background-color: #FF9100;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#answer {
    font-size: 2em;
}